<%= simple_form_for([@operator, @movement],
                    url: operator_movements_path(@operator),
                    html: { class: 'form-inline' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-groups">
    <%= f.input :monto %>
    <%= f.input :reserva_id,
      input_html: { value: @reserva.id },
      as: :hidden %>

    <%= f.button :submit, 'Agregar' %>
  </div>
<% end %>
