<p><b>Reserva: </b><%= @reserva %></p>

<table class="table">
  <thead>
    <tr>
      <th>Monto</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movements.each do |movement| %>
      <tr>
        <td><%= movement.monto %></td>
        <td><%= movement.type %></td>
        <td><%= link_to 'Show', movement_path(movement) %></td>
        <td><%= link_to 'Edit', edit_movement_path(movement) %></td>
        <td><%= link_to 'Destroy', movement_path(movement), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr>
      <td>Total: <b>$1122.50</b></td>
    </tr>
  </tbody>
</table>

<br>
