<table class='table'>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Operador</th>
      <th>Factura Nro</th>
      <th>Gravado 21%</th>
      <th>IVA 21%</th>
      <th>Gravado 10,5%</th>
      <th>IVA 10,5%</th>
      <th>No gravado</th>
      <th>Exento</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= localize invoice.date, :format => '%d de %B, %Y' %></td>
        <td><%= invoice.operator.name %></td>
        <td><%= invoice.full_number %></td>
        <td><%= invoice.taxed_21 %></td>
        <td><%= invoice.tax_21 %></td>
        <td><%= invoice.taxed_105 %></td>
        <td><%= invoice.tax_105 %></td>
        <td><%= invoice.not_taxed %></td>
        <td><%= invoice.exempt %></td>
        <td><%= invoice.total %></td>
        <td><%= link_to 'Detalles', [invoice.operator_namespace, invoice] %></td>
        <td><%= link_to 'Editar',
          [:edit, invoice.operator_namespace, invoice] %></td>
        <td><%= link_to 'Borrar', [invoice.operator_namespace, invoice],
          method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
