<table class='table table-striped'>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Operador</th>
      <th>Factura</th>
      <th>Gravado 21%</th>
      <th>IVA 21%</th>
      <th>Gravado 10,5%</th>
      <th>IVA 10,5%</th>
      <th>No gravado</th>
      <th>Exento</th>
      <th>5% AFIP</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= localize invoice.date, :format => '%d/%m/%Y' %></td>
        <td><%= invoice.operator.name.truncate 30 %></td>
        <td><%= link_to invoice.full_number, invoice_path(invoice)%></td>
        <td class="text-right"><%= invoice.taxed_21 %></td>
        <td class="text-right"><%= number_to_currency invoice.tax_21, unit: '' %></td>
        <td class="text-right"><%= invoice.taxed_105 %></td>
        <td class="text-right"><%= number_to_currency invoice.tax_105, unit: '' %></td>
        <td class="text-right"><%= invoice.not_taxed %></td>
        <td class="text-right"><%= invoice.exempt %></td>
        <td class="text-right"><%= invoice.perception %></td>
        <td class="text-right"><%= number_to_currency invoice.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>
