<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @invoice.date.strftime('%d/%m/%Y')%>
</p>

<p>
  <strong>Operador:</strong>
  <%= @invoice.operator %>
</p>

<p>
  <strong>CUIT:</strong>
  <%= @invoice.operator.cuit %>
</p>

<p>
  <strong>Factura:</strong>
  <%= @invoice.full_number %>
</p>

<p>
  <strong>Gravado IVA 21%</strong>
  <%= @invoice.taxed_21 %>
</p>

<p>
  <strong>IVA 21%</strong>
  <%= @invoice.tax_21 %>
</p>

<p>
  <strong>Gravado IVA 10,5:</strong>
  <%= @invoice.tax_105 %>
</p>

<p>
  <strong>IVA 10,5:</strong>
  <%= @invoice.taxed_105 %>
</p>

<p>
  <strong>No Gravado:</strong>
  <%= @invoice.not_taxed %>
</p>

<p>
  <strong>Exento:</strong>
  <%= @invoice.exempt %>
</p>

<p>
  <strong>Percepcion AFIP:</strong>
  <%= @invoice.perception %>
</p>

<p>
  <strong>Total:</strong>
  <%= @invoice.total %>
</p>

<%= link_to 'Editar', [:edit, @invoice.operator_namespace, @invoice] %> |
<%= link_to 'Borrar', [@invoice.operator_namespace, @invoice], method: :delete,
  data: { confirm: 'Desea eliminar la factura?' } %> |
<%= link_to 'Volver', [@invoice.operator_namespace, :invoices] %>
