<%= simple_form_for(@reserva) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :salida %>
    <%= f.input :hotel %>
    <%= f.input :amount %>
    <%= f.association :wholesaler %>
    <%= f.association :retailer %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
