<p id="notice"><%= notice %></p>

<h2>Detalles</h2>
<p>
  <strong>Salida:</strong>
  <%= @reserva.salida %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @reserva.hotel %>
</p>

<p>
  <strong>Monto:</strong>
  <%= humanized_money_with_symbol @reserva.amount %>
</p>

<p>
  <strong>Operadora:</strong>
  <%= @reserva.wholesaler %>
</p>

<p>
  <strong>Agencia:</strong>
  <%= @reserva.retailer %>
</p>

<h2>Pasajeros</h2>
<%= render partial: 'passengers/passengers', locals: { reserva: @reserva } %>
<%= render partial: 'passengers/inlineform',
  locals: { passenger: @reserva.passengers.new,
            reserva: @reserva }%>

<h2>Pagos</h2>
<% if @reserva.wholesaler %>
  <%= render partial: 'movements/movements',
    locals: { '@movements': @reserva.payments } %>
  <%= render partial: 'movements/inlineform',
    locals: { '@movement': @reserva.payments.new,
              '@operator': @reserva.wholesaler }%>

<% else %>
  <div class="alert alert-info">
    <p>No hay operadora para esta reserva</p>
    <p>
      <%= link_to 'Editar', edit_reserva_path(@reserva),
        class: 'btn btn-default btn-xs' %>
   </p>
  </div>
<% end %>

<h2>Depositos</h2>
<% if @reserva.retailer %>
  <%= render partial: 'movements/movements',
    locals: { '@movements': @reserva.deposits } %>
  <%= render partial: 'movements/inlineform',
    locals: { '@movement': @reserva.deposits.new,
              '@operator': @reserva.retailer }%>

<% else %>
  <div class="alert alert-info">
    <p>No hay Agencia para esta reserva</p>
    <p>
      <%= link_to 'Editar', edit_reserva_path(@reserva),
        class: 'btn btn-default btn-xs' %>
   </p>
  </div>
<% end %>

<%= link_to 'Edit', edit_reserva_path(@reserva), class: 'btn btn-default' %>
<%= link_to 'Back', reservas_path, class: 'btn btn-default' %>

