<p id="notice"><%= notice %></p>

<h2>Detalles</h2>
<p>
  <strong>Salida:</strong>
  <%= @reserva.salida %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @reserva.hotel %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @reserva.monto %>
</p>

<p>
  <strong>Mayorista:</strong>
  <%= @reserva.wholesaler %>
</p>

<p>
  <strong>Minorista:</strong>
  <%= @reserva.retail %>
</p>

<h2>Pasajeros</h2>
<%= render partial: 'passengers/passengers', locals: { reserva: @reserva } %>
<%= render partial: 'passengers/inlineform',
  locals: { passenger: @reserva.passengers.new,
            reserva: @reserva }%>

<h2>Pagos</h2>
<%= render partial: 'movements/movements',
  locals: { '@movements': @reserva.payments } %>
<%= render partial: 'movements/inlineform',
  locals: { '@movement': @reserva.payments.new,
            '@operator': @reserva.wholesaler }%>

<h2>Depositos</h2>
<%= render partial: 'movements/movements',
  locals: { '@movements': @reserva.deposits } %>
<%= render partial: 'movements/inlineform',
  locals: { '@movement': @reserva.deposits.new,
            '@operator': @reserva.retail }%>

<%= link_to 'Edit', edit_reserva_path(@reserva), class: 'btn btn-default' %>
<%= link_to 'Back', reservas_path, class: 'btn btn-default' %>

