<%= simple_form_for(@operator) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Nombre' %>
  </div>

  <div class="form-inputs">
    <%= f.input :cuit %>
  </div>

  <div class="form-inputs">
    <%= f.input :address, label: 'Direccion' %>
  </div>

  <div class="form-inputs">
    <%= f.input :phone, label: 'Telefono' %>
  </div>

  <div class="form-inputs">
    <%= f.input :tax_category, label: 'Categoria', collection: ['R.INSCRIPTO','MONOTRIBUTO','EXENTO'] %>
  </div>

  <div class="form-inputs">
    <%= f.input :file_number, label: 'Numero de legajo' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Actualizar', class: 'btn btn-primary' %>
  </div>
<% end %>
