<%= simple_form_for(@operator) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-inputs">
    <%= f.input :cuit %>
  </div>

  <div class="form-inputs">
    <%= f.input :address %>
  </div>

  <div class="form-inputs">
    <%= f.input :phone %>
  </div>

  <div class="form-inputs">
    <%= f.input :tax_category, collection: ['R.INSCRIPTO','MONOTRIBUTO','EXENTO'] %>
  </div>

  <div class="form-inputs">
    <%= f.input :file_number %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
