<p>
  <strong>Nombre:</strong>
  <%= @operator.name %>
</p>
<p>
  <strong>CUIT:</strong>
  <%= @operator.cuit %>
</p>
<p>
  <strong>Direccion:</strong>
  <%= @operator.address %>
</p>
<p>
  <strong>Telefono:</strong>
  <%= @operator.phone %>
</p>
<p>
  <strong>Responsable frente al IVA:</strong>
  <%= @operator.tax_category %>
</p>
<p>
  <strong>Legajo:</strong>
  <%= @operator.file_number %>
</p>
