<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Maresca Turismo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Reservas', reservas_path %></li>
        <li><%= link_to 'Proveedores', wholesalers_path %></li>
        <li><%= link_to 'Clientes', retailers_path %></li>
        <li><%= link_to 'Compras', wholesalers_invoices_path %></li>
        <li><%= link_to 'Ventas', retailers_invoices_path %></li>
        <li><%= link_to 'Exportar', export_invoices_path, data: { turbolinks: false } %></li>
        <% if current_user %>
          <li><%= current_user.email  %></li>
          <li><%= link_to 'Cerrar sesion', session_path('current'), method: :delete %></li>
        <% else %>
          <li><%= link_to 'Iniciar sesion', new_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
